#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME=/usr/lib/jvm/default-java
ANT_OPTIONS=-f linux/build.xml

clean::
	JAVA_HOME=$(JAVA_HOME) ant $(ANT_OPTIONS) clean

common-build-arch::
	JAVA_HOME=$(JAVA_HOME) ant $(ANT_OPTIONS) jar

install/lightzone::
	# not using install file here because
	# 1 - icon files have to be renamed
	# 2 - some files are symlinks and they need to be followed. Install file just copies symlinks
	install -m 644 $(CURDIR)/linux/products/lightzone.desktop $(CURDIR)/debian/lightzone/usr/share/applications/lightzone.desktop
	install -m 644 $(CURDIR)/linux/icons/LightZone_256x256.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/256x256/apps/LightZone.png
	install -m 644 $(CURDIR)/linux/icons/LightZone_128x128.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/128x128/apps/LightZone.png
	install -m 644 $(CURDIR)/linux/icons/LightZone_64x64.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/64x64/apps/LightZone.png
	install -m 644 $(CURDIR)/linux/icons/LightZone_48x48.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/48x48/apps/LightZone.png
	install -m 644 $(CURDIR)/linux/icons/LightZone_32x32.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/32x32/apps/LightZone.png
	install -m 644 $(CURDIR)/linux/icons/LightZone_16x16.png $(CURDIR)/debian/lightzone/usr/share/icons/hicolor/16x16/apps/LightZone.png
	cp -rpH $(CURDIR)/linux/products/lightzone $(CURDIR)/debian/lightzone/usr/bin
	cp -rpH $(CURDIR)/linux/products/LightZone-forkd $(CURDIR)/debian/lightzone/opt/lightzone
	cp -rpH $(CURDIR)/linux/products/dcraw $(CURDIR)/debian/lightzone/opt/lightzone/
	cp -rpH $(CURDIR)/linux/products/*.jar $(CURDIR)/debian/lightzone/opt/lightzone/
	cp -rpH $(CURDIR)/linux/products/*.so $(CURDIR)/debian/lightzone/opt/lightzone/

